<p>こんにちは <%= @resource.email %>様!</p>

<p>パスワード変更のリンクです。以下のリンクから変更ができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>本メールの内容に心当たりのない場合は、無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまでは、パスワードは変更されません。</p>
