<div class="sign_up_body">
  <div class="sign_up_div">
    <%= image_tag 'logo88.png' %>
  </div>
  <div class="sign_up_btn">
    <!--<p class="sign_up_p2"><%= link_to 'アカウント追加' ,new_admin_registration_path, class: "nav-list" , data: { turbo: false }%><i class="far fa-arrow-alt-circle-right"></i></p>-->
    <p class="sign_up_p3"><%= link_to 'ログイン', new_admin_session_path,class: "nav-list" , data: { turbo: false }%><i class="far fa-arrow-alt-circle-right"></i></p>
  </div>
</div>